/* Variables */
:root {
  --primary-bg-color: #fff;
  --alternate-bg-color: #f0eded;

  --primary-border-color: #333;
  --primary-text-color: #333;

  --link-padding: 2px 8px;
  --link-border-radius: 20px;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

a {
  border-radius: var(--link-border-radius);
  color: var(--primary-border-color);
  text-decoration: none;
  padding: var(--link-padding);
}

a:hover {
  background-color: var(--primary-text-color);
  color: var(--primary-bg-color);
  opacity: 0.7;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.content-wrapper {
  margin: 0 auto;
  width: 1200px;
}

section {
  padding: 3rem 1rem;
}

/* Header Section */
.header {
  width: 100%;
}

.header-top {
  background-color: var(--header-color);
  color: var(--preview-txt-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 18px;
  position: relative;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  width: 155px;
}

.logo img {
  font-weight: 700;
  height: 50px;
  margin-right: 6px;
}

.brand-name {
  cursor: default;
  font-size: 30px;
  font-weight: 700;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation.mobile-nav {
  background-color: var(--header-color);
  position: absolute;
  top: 59px;
  left: 0;
  width: 100%;
  z-index: 5;
}

.navigation.mobile-nav .nav-bar {
  flex-direction: column;
}

.navigation.mobile-nav .nav-list {
  margin-bottom: 16px;
}

.nav-list {
  padding: 0 15px;
}

.nav-link {
  border: 1px solid var(--primary-border-color);
  color: var(--preview-txt-color);
  font-size: 16px;
  letter-spacing: 1px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.ham-open {
  font-size: 22px;
}

.ham-close {
  font-size: 33px;
}

/* Landing Content */
.landing-content {
  /* border: 3px solid rgb(214, 29, 199); */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "left-landing right-landing";
  grid-gap: 10px;
}

.landing-left {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: left-landing;
  padding: 25px 20px;
}

.landing-right {
  /* border: 2px solid rgb(66, 66, 5); */
  grid-area: right-landing;
}

.landing__brand-name {
  font-size: 60px;
  letter-spacing: 1px;
  margin: 20px 0;
}

.subline {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 25px;
}

.about-link {
  border: 1px solid var(--primary-border-color);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  padding: 4px 10px;
}

/* About Section */
.about-section {
  background-color: var(--alternate-bg-color);
}

.about-wrapper {
  display: flex;
  flex-direction: column;
}

.about-content {
  display: flex;
  margin-bottom: 5px;
  padding: 15rem 0 3rem;
  /* height: 500px; */
}

.about-content.first,
.about-content.second {
  background-repeat: no-repeat;
  background-size: 45%;
}

.about-content.first {
  background-image: url(/img/coolness.svg);
  background-position: right;
}

.about-content.second {
  background-image: url(/img/gardening.svg);
  background-position: left;
}

.about-text__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  width: 50%;
  /* border: 5px solid blue; */
}

.about-text__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 50%;
  /* border: 5px solid blue; */
}

.section-heading {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
}

.sub-section__heading {
  font-size: 28px;
  margin-bottom: 10px;
}

.section-paragraph {
  font-size: 18px;
  line-height: 1.6;
}

/* Store Section */

.store-section .sub-section__heading {
  text-align: center;
  margin-bottom: 20px;
}

.image-carousel {
  width: 1000px;
  height: 400px;
  margin: 0 auto;
  overflow-x: hidden;
}

.images-wrapper {
  display: flex;
  transform: translateX(0);
  transition: transform 0.4s linear;
}

.each-carousel__image {
  position: relative;
  object-fit: cover;
  height: 400px;
  width: 100%;
}

.each-carousel__image img {
  height: 100%;
  width: 1000px;
}

.carousel-image__desc {
  background-color: var(--primary-border-color);
  color: var(--primary-bg-color);
  padding: 5px 8px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.collection-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px 10px;
  margin-bottom: 30px;
}

.each-product {
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
  position: relative;
}

.each-product img {
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.each-image {
  cursor: pointer;
  height: 260px;
  position: relative;
}

.each-image:hover::before {
  background-color: rgba(51, 51, 51, 0.685);
  content: "";
  position: absolute;
  height: 260px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.order-now {
  display: none;
}

.each-image:hover .order-now {
  display: block;
  color: var(--primary-bg-color);
  cursor: pointer;
  border: 1px solid var(--primary-bg-color);
  border-radius: var(--link-border-radius);
  padding: var(--link-padding);
  position: absolute;
  top: 50%;
  left: 32%;
}

.each-image:hover .order-now:hover {
  color: var(--primary-bg-color);
  opacity: 1;
}

.product-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 10px;
}

.product-name,
.product-price {
  font-weight: bold;
  font-size: 14px;
}

.product-order .sub-section__heading {
  margin-bottom: 20px;
}

.order-form {
  /* border: 3px solid red; */
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  padding: 15px 10px;
}

form {
  width: 50%;
  margin: 0 auto;
}

.form-group {
  /* border: 2px solid blue; */
  width: 100%;
  margin-bottom: 20px;
}

label,
select,
input {
  display: block;
}

select,
input {
  padding: 6px 5px;
  width: 100%;
}

label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 3px;
}

input[type="submit"] {
  background-color: var(--primary-bg-color);
  border: 2px solid var(--primary-border-color);
  border-radius: var(--link-border-radius);
  color: var(--primary-text-color);
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  width: 50%;
  margin: 0 auto;
}

input[type="submit"]:hover {
  border: none;
  background-color: var(--primary-text-color);
  color: var(--primary-bg-color);
}

/* Find Us section */
.findUs-section {
  background-color: var(--alternate-bg-color);
}

.location-desc {
  text-align: center;
  line-height: 1.4;
  margin-bottom: 20px;
}

.contact-details {
  /* border: 3px solid red; */
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
  padding: 10px;
  margin: 0 auto;
  width: 80%;
}

.contact-details h5 {
  font-size: 16px;
  margin-bottom: 10px;
}

.location-details > div {
  margin-bottom: 5px;
}

.social-media__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-media h5 {
  margin-bottom: 15px;
}

.social-link i {
  cursor: pointer;
  font-size: 26px;
}

/* Footer Section */
.footer {
  background-color: var(--alternate-bg-color);
  padding: 0 0 15px;
}

.footer p {
  font-weight: 400;
  text-align: center;
}

.footer-head {
  font-size: 15px;
  margin-bottom: 5px;
}

.footer-head.name {
  margin-bottom: 10px;
}

.footer-sub {
  font-size: 14px;
}

/* Media Queries */
@media (max-width: 1200px) {
  .content-wrapper {
    width: 90%;
  }

  .image-carousel {
    width: 90%;
  }

  .each-carousel__image img {
    width: 83vmax;
  }

  .contact-details {
    width: inherit;
  }
}

@media (max-width: 768px) {
  .nav-bar {
    display: none;
  }

  .navigation.mobile-nav {
    background-color: var(--primary-border-color);
    color: var(--primary-bg-color);
  }

  .navigation.mobile-nav .nav-bar {
    display: flex;
  }

  .nav-link {
    border: none;
  }

  .hamburger {
    display: block;
  }

  .ham-close {
    display: none;
  }

  .logo img {
    height: 40px;
  }

  .header {
    margin-bottom: 15px;
  }

  .landing-content {
    grid-template-columns: 1fr;
    grid-template-areas:
      "right-landing"
      "left-landing";
  }

  .landing-right {
    margin: auto;
  }

  .landing-right svg {
    height: 300px;
  }

  .landing-left {
    padding: 15px;
    text-align: center;
  }

  .landing__brand-name {
    font-size: 42px;
    margin-top: 0;
  }

  .subline {
    font-size: 20px;
  }

  .about-link {
    font-size: 16px;
  }

  .order-form {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .about-content.first,
  .about-content.second {
    background-position: top center;
    background-size: 50%;
    padding: 16rem 0 2rem;
  }

  .about-content.first {
    padding: 12rem 0 2rem;
  }

  .about-text__left,
  .about-text__right {
    width: 100%;
  }

  .section-heading {
    font-size: 36px;
  }

  .section-paragraph {
    font-size: 16px;
  }

  .collection-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .each-image,
  .each-image:hover::before {
    height: 220px;
  }

  form {
    width: 80%;
  }

  .contact-details {
    flex-direction: column;
    text-align: center;
  }

  .location-details {
    margin-bottom: 15px;
  }

  .social-media__links {
    justify-content: space-around;
  }
}

@media (max-width: 420px) {
  .brand-name {
    font-size: 18px;
  }

  .logo {
    width: 110px;
  }

  .store-section .sub-section__heading {
    font-size: 18px;
  }

  .about-content.first {
    padding: 9rem 0 2rem;
  }

  .about-content.second {
    padding: 12rem 0 2rem;
  }

  .sub-section__heading {
    font-size: 22px;
  }

  .section-paragraph {
    font-size: 14px;
  }

  input[type="submit"] {
    font-size: 13px;
  }
}
